.DS_Store
eece7398-deeplearning/final_project/biaxial-rnn-music-composition/
eece7398-deeplearning/hw1/ex1.png
eece7398-deeplearning/hw1/ex2.png
eece7398-deeplearning/hw1/ex3.png
eece7398-deeplearning/hw1/ex4.png
eece7398-deeplearning/hw1/ex5.png
eece7398-deeplearning/hw2/model/
eece7398-deeplearning/hw3/model/saved_model-31400.meta